//Colors

$primary-color: #181818;
$secondary-color: #151515;
$navbar-color: #18181882;

$text-color: #f9f9f9;
$outline: #f9f9f9c5;
$transparent: #f9f9f900;

@mixin gradient1 {
  background: linear-gradient($navbar-color, $secondary-color);
}

@mixin gradient {
  background: linear-gradient($secondary-color, $navbar-color);
}

* {
  margin: 0;
}

.home-container {
  @include gradient;

  overflow: hidden;
}

//Video position and style

.video-container {
  height: 100%;
}

.background-video {
  max-width: 100%;
  height: 90vh;
  margin: auto;
  -webkit-animation: videoIn 1500ms forwards;
  animation: videoIn 1500ms forwards;
  border-radius: 0 50px 50px 0;
}

//Video animation

@-webkit-keyframes videoIn {
  from {
    scale: 1;
  }
  to {
    scale: 0.9;
    translate: -5%;
  }
}

@keyframes videoIn {
  from {
    scale: 1;
  }
  to {
    scale: 0.9;
    translate: -5%;
  }
}

//Card Style

.card {
  @include gradient1;

  position: absolute;
  top: 25vh;
  left: 160vh;
  padding: 30px 40px;
  border-radius: 50px;
  z-index: 1;
  width: 280px;
  height: 400px;
  -webkit-animation: cardIn 2s forwards;
  animation: cardIn 2s forwards;
}

.card h2 {
  color: $text-color;
  text-align: left;
  font-family: "Kaushan Script";
  font-size: 2em;
  margin-left: -7px;
}

.card p {
  color: $text-color;
  line-height: 1.8;
  font-size: larger;
  margin: 10px 0;
  text-align: justify;
}

.home_button {
  margin-top: 25px;
  text-align: center;
}

//card animation

@-webkit-keyframes cardIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    left: 70%;
  }
}

@keyframes cardIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    left: 70%;
  }
}

@media screen and (max-width: 950px) {
  .background-video {
    -webkit-animation: none;
    animation: none;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .card {
    position: relative;
    margin: 0 auto 0 auto;
    z-index: 0;
    top: -50px;
    left: 0;
    animation: none;
    height: 250px;
  }
  .card p {
    line-height: 1.2;
    font-size: medium;
    margin: 5px 0;
    text-align: justify;
  }
  .card h2 {
    font-size: x-large;
    margin-bottom: 50px;
  }
}
