* {
    margin: 0;
}


.form {
    margin: 2em;
}

.form > h2 {
    margin-bottom: 0.65em;
}

input {
    border-radius: 8px;
    margin-bottom: 0.5em;
}

#submit {
    border-style: 1px solid #f3f1ff;
    background: #181818;
    border-color: #f3f1ff;
    color: #f3f1ff;
}