.navbar {
  /*   position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navbar li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

img {
  width: 150px;
}
