.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.card {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px 40px;
  background-color: rgba(9, 8, 8, 0.8);
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 300px;
  height: 400px;
  max-width: 90%;
}

.card h2 {
  margin-top: 0;
  color: #f2e9e9;
  text-align: center;
  font-size: 30px;
}

.card p {
  color: #ebebeb;
  line-height: 2;
  font-size: larger;
  margin: 10px 0;
  text-align: center;
}
